*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  width: 50%;
}

body {
  line-height: 1;
}

#loader {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

#quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 22px;
}

.question-container {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin: 22px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
}

.question-container img {
  width: 100%;
}

.question-answer {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  gap: 5px;
}

.question-body {
  padding: 18px;
}

.question-answer label {
  cursor: pointer;
}

.button {
  margin: 20px;
  height: 45px;
  width: 50%;
  align-self: center;
}
